body {
  font-family: "Lato", sans-serif;
}

.card-columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 900px;
  position: relative;
  margin: 0 auto;
}

.card {
  margin-top: 15px;
  background-color: aliceblue;
}

.title {
  color: firebrick;
}

.title:hover {
  text-shadow: 1px 1px 1px firebrick;
}

.text-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
}

.card-text {
  color: cadetblue;
}

.img-thumbnail {
  border: 0;
  background: transparent;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
